/* Hover tooltips */
.field-tip {
    position:relative;
}
.field-tip .tip-content {
    position:absolute;
    top: 36px;
    right:9999px;
    width:auto;
    margin-right:-114px;
    padding:10px;
    color:#fff;
    background:#5390d9;
    -webkit-box-shadow:2px 2px 5px #56cfe1;
    -moz-box-shadow:2px 2px 5px #56cfe1;
    box-shadow:2px 2px 5px #56cfe1;
    opacity:0;
    -webkit-transition:opacity 250ms ease-out;
    -moz-transition:opacity 250ms ease-out;
    -ms-transition:opacity 250ms ease-out;
    -o-transition:opacity 250ms ease-out;
    transition:opacity 250ms ease-out;
}
.field-tip:hover .tip-content {
    right:-20px;
    opacity:1;
}




.field-tip2 {
    position:relative;
}
.field-tip2 .tip-content2 {
    position:absolute;
    top: 36px;
    right:9999px;
    width:auto;
    margin-right: 23px;
    padding:10px;
    color:#fff;
    background:#5390d9;
    -webkit-box-shadow:2px 2px 5px #56cfe1;
    -moz-box-shadow:2px 2px 5px #56cfe1;
    box-shadow:2px 2px 5px #56cfe1;
    opacity:0;
    -webkit-transition:opacity 250ms ease-out;
    -moz-transition:opacity 250ms ease-out;
    -ms-transition:opacity 250ms ease-out;
    -o-transition:opacity 250ms ease-out;
    transition:opacity 250ms ease-out;
}
.field-tip2:hover .tip-content2{
    right:-20px;
    opacity:1;
}


.geeks {
    overflow: hidden;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.geeks img {
    width: 100%;
    transition: 0.3s all ease-in-out;
}

.geeks:hover img {
    transform: scale(1.05);
}